<head>
	<title>tir</title>
    <meta charset="UTF-8">
    <link rel="icon" href="./static/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon-16x16.png">
    <link rel="manifest" href="./static/site.webmanifest">
    <style>
        html {
            width: 1000px;
            margin: auto;
            max-width: 80%;
        }

        body {
            margin-top: 3em;
            margin-bottom: 3em;
        }

        /* Bodge: don't wrap dates. */
        table tbody tr td:nth-child(4) {
            white-space: nowrap;
        }

        /* Tables (from blog) */
        table {
            margin: auto;
            border-spacing: 0;
        }

        th, td {
            padding: 0.5em;
        }

        th {
            text-align: left;
            border-bottom: 1px solid black;
        }

        tr:hover {
            background-color: #f9f9f9;
        }

        .date {
            text-align: right;
            font-family: monospace;
        }

        /* Form */
        details {
            margin: 1em 0;
            padding: 1em;
            border: 1px dashed black;
        }

        form {
            margin: 1em;
        }

        label {
            display: block;
            font-family: monospace;
            font-size: small;
            color: grey;
        }

        .form-group {
            margin-bottom: 0.5em;
        }

        input {
            width: 180px;   /* Arbitrary */
        }

        textarea {
            width: 360px;   /* Arbitrary */
            font-family: sans-serif;
        }
    </style>
</head>

<a href="https://github.com/lukasschwab/tiir">GitHub</a> &middot; <a href="/texts/feed.json">JSON Feed</a>

<header>
    <h1>tir</h1>
</header>

<details>
    <summary>Create a new text...</summary>
    <form id="textForm" 
        action="/texts" method="post" target="oubliette"
        onsubmit="this.submit(); window.location.reload(); return false;"
    >
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url" class="form-control" id="url" name="url" required>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author" required>
        </div>
        <div class="form-group">
            <label for="note">Note</label>
            <textarea class="form-control" id="note" name="note" rows="3"></textarea>
        </div>
        <label>Submit</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- Direct the AJAX response to this hidden iframe: prevent replacing DOM with JSON. -->
    <iframe name="oubliette" style="display: none;"></iframe>
</details>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Note</th>
        <th class="date">Date</th>
    </tr>
    {{ range . }}
        <tr id="{{.ID}}">
            <td><a href="{{.URL}}">{{.Title}}</a></td>
            <td>{{.Author}}</td>
            <td>{{.Note}}</td>
            <td class="date">{{printf "%d-%02d-%02d" (.Timestamp.Year) (.Timestamp.Month) (.Timestamp.Day)}}</td>
        </tr>
    {{ end }}
</table>
