<head>
	<title>tir</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="icon" href="./static/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon-16x16.png">
    <link rel="manifest" href="./static/site.webmanifest">
    <style>
        html {
            width: 1000px;
            margin: auto;
            max-width: 80%;
        }

        body {
            margin-top: 140px;
            margin-bottom: 140px;
        }

        .title {
            font-size: 70px; 
            text-decoration: bold; 
            color: #0074D9;
            text-align: center;
        }

        h3 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 12px;
            text-align: center;
        }

        p {
            text-align: center;
        }

        /* Bodge: don't wrap dates. */
        table tbody tr td:nth-child(4) {
            white-space: nowrap;
        }

        hr {
            height: 2px;
            background-color: #0074D9;
            border: none;
            width: 50%;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>

<h1 class="title">tir</h1>
<p><a href="https://github.com/lukasschwab/tiir">GitHub</a> &middot; <a href="/texts/feed.json">JSON Feed</a></p>

<hr/>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Note</th>
        <th>Date</th>
    </tr>
    {{ range . }}
        <td colspan="4"><h3>{{ .Key }}</h3></td>
        {{range .Texts}}
            <tr>
                <td><a href="{{.URL}}">{{.Title}}</a></td>
                <td>{{.Author}}</td>
                <td>{{.Note}}</td>
                <td>{{printf "%d-%02d-%02d" (.Timestamp.Year) (.Timestamp.Month) (.Timestamp.Day)}}</td>
            </tr>
        {{end}}
    {{ end }}
</table>